.App{  
  background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-repeat: no-repeat; /* Para que la imagen de fondo no se repita */
  background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  width: 100%;
  height: 100vh;
}

.title {
  position: absolute;
  top: 0%;
  left: 28%;
  font-size: 40px;
  color:black;
}

.card {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 80%;
  font-size: 20px;
  color:rgba(47, 79, 79, 0.801);
  padding: 0% 0%;
  border: none;
  transform: rotate(-10deg);
  
}
.contenedor{
  position: absolute;
  top: 20%;
  left: 10%;
  display: block;
  height: 45%;
  width: 75%;
  border-radius: 500% 1000px / 500% 1000px;
  background: radial-gradient(ellipse, rgba(255, 255, 255, 0.842) 5%, rgba(0, 255, 255, 0.185) 50%);
}
.card2 {
  position: absolute;
  top: 93%;
  left: 1%;
  width: 16%;
  font-size: 10px;
  color: black;
  border: none;
  }

button {
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 75%;  
  border: 1px solid transparent;
  color:lightgrey;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  border-radius: 30px;
  background-color:rgba(0, 0, 0, 0.473);
  }

  button:hover {
    transform: translateY(-1px);
    box-shadow: 2px 2px 8px darkorange;
    border-color:white;
    font-size: 18px;
  }